@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;400&display=swap");

* {
  margin: 0;
  padding: 0;
}
html {
  overflow: hidden;
  background-color: black;
  font-family: "Jost", sans-serif;
}
h1,
h2 {
  color: white;
  font-weight: 200;
  z-index: 5;
  position: relative;
}
body {
}
canvas {
  position: fixed;
  top: 0;
  z-index: 0;
}
input {
  z-index: 5;
  font-size: 16px;
  padding: 5px;
  /* background-color: black;
  color: white; */
  border: none;
}
#topBar {
  display: flex;
  justify-content: space-between;
}
::-webkit-calendar-picker-indicator {
  /* background: orange; */
}
